http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species?datasetKey=b351a324-77c4-41c9-a909-f30f77268bc4&name=Carpobrotus%20edulis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":true,"results":[{"key":100221500,"nubKey":3084842,"nameKey":2052609,"taxonID":"1010","kingdom":"Plantae","phylum":"Magnoliophyta","kingdomKey":132916967,"phylumKey":132916985,"datasetKey":"b351a324-77c4-41c9-a909-f30f77268bc4","parentKey":132916985,"parent":"Magnoliophyta","scientificName":"Carpobrotus
        edulis","canonicalName":"Carpobrotus edulis","authorship":"","nameType":"SCIENTIFIC","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"references":"http://www.invasivespecies.net/database/species/ecology.asp?si=1010&fr=1&sts=&lang=EN","lastCrawled":"2019-09-07T22:18:50.867+0000","lastInterpreted":"2017-08-25T14:34:29.147+0000","issues":[],"synonym":false}]}'
  recorded_at: 2020-06-03 21:12:20 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.gbif.org/v1/species?datasetKey=b351a324-77c4-41c9-a909-f30f77268bc4&name=Rosmarinus%20officinalis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":true,"results":[]}'
  recorded_at: 2020-06-03 21:12:20 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
