http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species?datasetKey=b351a324-77c4-41c9-a909-f30f77268bc4&name=asdfadsf
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":20,"endOfRecords":true,"results":[]}'
  recorded_at: 2020-06-03 21:12:20 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
