http_interactions:
- request:
    method: get
    uri: http://bien.nceas.ucsb.edu/bien/apps/nsr/nsr_ws.php?format=json&species=Pinus%20ponderosa&country=United%20States
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"nsr_results":[{"nsr_result":{"family":"Pinaceae","genus":"Pinus","species":"Pinus
        ponderosa","country":"United States","state_province":"","county_parish":"","native_status":"N","native_status_reason":"Native
        to region","native_status_sources":"","isIntroduced":"0","isCultivated":"0"}}]}'
  recorded_at: 2020-06-03 21:08:13 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
