http_interactions:
- request:
    method: get
    uri: http://bien.nceas.ucsb.edu/bien/apps/nsr/nsr_ws.php?format=json&species=adadfd&country=United%20States
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"nsr_results":[{"nsr_result":{"family":"","genus":"adadfd","species":"","country":"United
        States","state_province":"","county_parish":"","native_status":"A","native_status_reason":"Absent
        from all checklists for region","native_status_sources":"usda","isIntroduced":"1","isCultivated":"0"}}]}'
  recorded_at: 2020-06-03 21:09:40 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
